/* Stile generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* stile body */
body{
    background-color: rgb(57, 173, 177);
    color: white;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    color: #212529;
    margin: 20px;
}

#email-list {
    max-width: 500px;
    margin: 30px auto;
}

#btn-email {
    display: block;
    margin: 10px auto;
}